
.wrapper_with_pad
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a{ href:(url_for [doc])}
          .doc
            %p.title= doc.title
            %p.date= time_ago_in_words(doc.created_at)
            %p.content= truncate(doc.content, length:50)

    - else
      %h2 Creat Doc!
      %p Start Creating Documents and Organizing your Life!
      %button= link_to "Creat Doc", new_doc_path
