<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CloudCabinet, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for signing up. We built this from scratch. We love building useful
      things for ourselves and others. This is just a small simple app that we built
    that we can use to jot down ideas when we are out and about. Hope its useful for you.
  </p>
  <br>
  <h3> Oh and BTW, we can build something like this for you. Schedule an info session
    on our webiste <a href="http://acaciadevllc.com"> Here</a> </h3>


  </body>
</html>
