#banner
  .banner_content
    %h1 CloudCabinet
    %p Your Web Based Notebook. Organized Always
    %button= link_to "Sign Up", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Franzen fingerstache four loko freegan pork belly mumblecore bushwick




#bottom_cta
  .wrapper
    %h2 Go Ahead
    %%br
    %button= link_to "Join Now", new_user_registration_path
